/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db

.sass-cache
.idea
.vagrant
*.swp
.settings
.project
.svn
*.cache
*.log

app/logs/*
!app/logs/.gitkeep
app/cache/*
!app/cache/.gitkeep
config/production/*
!config/production/.gitkeep